<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudioRubricWebsite</title>
</head>
<body>
    <nav>
        <ul>
            <li>logo</li>
            <li>tab 1</li>
            <li>tab 2</li>
            <li>tab 3</li>
            <li>tab 4</li>
            <li>tab 5</li>
        </ul>
    </nav>