<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudioRubricWebsite</title>

    <link rel="stylesheet" href="/css/styles.css">

    <script src="/js/lib/jquery-3.5.1.min.js"></script>
</head>
<body>
    <nav>
        <a class="logo" href="#">logo</a>
        <ul>
            <li><a href="#">Albums</a></li>
            <li><a href="#">Tracks</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </nav>
    <nav class="fixed hide">
        <a class="logo" href="#">logo</a>
        <ul>
            <li><a href="#">Albums</a></li>
            <li><a href="#">Tracks</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </nav>