section {
    margin: 100px;
    
    &.features .layout {        
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, 250px);
        grid-gap: 1rem;
        grid-template-areas:
            "main main sideTop"
            "main main sideBottom";
        
        a {
            background: no-repeat center center;
            background-size: cover;
        }
        .main {
            grid-area: main;
        }
        .sideTop {
            grid-area: sideTop;
        }
        .sideBottom {
            grid-area: sideBottom;
        }
    }
    &.cards .layout {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1.25rem 3rem;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(2, auto);
        }
        @media (max-width: 600px) {
            grid-template-columns: repeat(1, auto);
        }
    }
    &.show {
        margin: 0 250px;
    }
}