section {
    margin: 0 100px;

    &.cards {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1.25rem 3rem;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(2, auto);
        }
        @media (max-width: 600px) {
            grid-template-columns: repeat(1, auto);
        }
    }
}