section.cards h1 {
  width: 200px;
  height: 50px;
  margin: 40px auto;
  position: relative;
}

section.cards h1:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
  border-bottom: 3px solid #000;
}

section.cards a:hover {
  color: #65CCB8;
}

section.features .layout .side-a:hover, section.features .side-b:hover {
  -webkit-box-shadow: 0 4px 2px -2px gray;
          box-shadow: 0 4px 2px -2px gray;
}

section a {
  color: #000;
  text-decoration: none;
}

.card {
  width: 100%;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card img {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .content {
  text-align: center;
  height: 100%;
  margin: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card .content footer {
  margin-top: auto;
}

nav {
  width: 100%;
  padding: 45px 0 15px 0;
  background-color: #182628;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(1px 3px 4px #182628);
          filter: drop-shadow(1px 3px 4px #182628);
}

nav.fixed {
  padding: 2px 50px;
  position: fixed;
  top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

nav.fixed .toggle {
  cursor: pointer;
  display: none;
}

nav.fixed .toggle .bar1, nav.fixed .toggle .bar2, nav.fixed .toggle .bar3 {
  width: 26px;
  height: 2px;
  background-color: #65CCB8;
  margin: 5px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav.fixed .toggle.x .bar1 {
  -webkit-transform: rotate(-45deg) translate(0px, 10px);
          transform: rotate(-45deg) translate(0px, 10px);
}

nav.fixed .toggle.x .bar2 {
  opacity: 0;
}

nav.fixed .toggle.x .bar3 {
  -webkit-transform: rotate(45deg) translate(0px, -10px);
          transform: rotate(45deg) translate(0px, -10px);
}

nav a {
  color: #65CCB8;
  text-decoration: none;
}

nav a.logo {
  font-size: 2.8rem;
  font-weight: 700;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  font-size: 1.0rem;
  margin-right: 1.5rem;
  float: left;
}

nav ul li:last-child {
  margin-right: 0;
}

section.cards .layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 1000px) {
  section.cards .layout {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  section.cards .layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section.features .layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[2] (1fr)[2];
      grid-template-columns: repeat(2, 25%) repeat(2, 1fr);
  grid-gap: 1rem;
      grid-template-areas: "main main side-a side-b";
}

section.features .layout .main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

@media (min-width: 600px) {
  section.features .layout .main {
    color: #F2F2F2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.features .layout .main:hover .content header {
    text-decoration: underline;
  }
  section.features .layout .main img {
    min-height: none;
    max-height: 500px;
    -webkit-filter: brightness(75%);
            filter: brightness(75%);
  }
  section.features .layout .main .content {
    height: auto;
    margin-top: 100px;
    position: absolute;
  }
}

section.features .layout .side-a {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: side-a;
}

section.features .layout .side-b {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: side-b;
}

@media (max-width: 1000px) {
  section.features .layout {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "main main" "side-a side-b";
  }
}

@media (max-width: 600px) {
  section.features .layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "main" "side-a" "side-b";
  }
}

@media (min-width: 600px) {
  nav ul a {
    position: relative;
  }
  nav ul a::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 2px solid #F2F2F2;
    position: absolute;
    left: 15%;
    bottom: -5px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  nav ul a:hover::after {
    width: 70%;
  }
}

@media (max-width: 600px) {
  nav.fixed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  nav.fixed .top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.fixed .top .toggle {
    display: inline-block;
  }
  nav.fixed ul {
    width: 100%;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    transition: max-height 0.3s;
  }
  nav.fixed ul.show {
    max-height: 250px;
  }
  nav.fixed ul li {
    border-bottom: 1px solid #F2F2F2;
    margin: 0;
    float: none;
  }
  nav.fixed ul li:last-child {
    border: none;
  }
  nav.fixed ul li a {
    display: block;
    padding: 1.2rem 0;
  }
}

section {
  margin: 50px 100px;
}

@media (max-width: 1000px) {
  section {
    margin: 50px;
  }
}

@media (max-width: 600px) {
  section {
    margin: 75px 25px 25px 25px;
  }
}

nav.fixed {
  display: none;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

nav.fixed.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

nav.fixed.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 600px) {
  nav.static {
    display: none;
  }
  nav.fixed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  color: #000;
  font-family: sans-serif;
  background-color: #65CCB8;
  margin: 0;
}

body h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

body h2 {
  font-size: 1.5rem;
  text-align: center;
}

body p {
  line-height: 1.5rem;
}
