article .background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

article .background img {
  width: 100vw;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(0.25rem);
          filter: blur(0.25rem);
}

article .layout {
  background-color: #F2F2F2;
}

article .layout .strip {
  width: 100%;
  height: 100px;
}

article .layout .content {
  padding: 0 50px 25px 50px;
}

article .layout .content img {
  width: 25%;
  margin: -50px auto 0 auto;
  display: block;
}

article .layout .content h2 {
  font-weight: 400;
  text-transform: uppercase;
}

article .layout .content .genre {
  color: #F2F2F2;
  text-transform: uppercase;
  padding: 10px;
  background-color: #000;
  border-radius: 1rem;
  margin: 0 auto;
  display: table;
}

nav {
  width: 100%;
  padding: 45px 0 15px 0;
  background-color: #182628;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(1px 3px 4px #182628);
          filter: drop-shadow(1px 3px 4px #182628);
}

nav.fixed {
  padding: 2px 50px;
  position: fixed;
  top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

nav.fixed .toggle {
  cursor: pointer;
  display: none;
}

nav.fixed .toggle .bar1, nav.fixed .toggle .bar2, nav.fixed .toggle .bar3 {
  width: 26px;
  height: 2px;
  background-color: #65CCB8;
  margin: 5px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav.fixed .toggle.x .bar1 {
  -webkit-transform: rotate(-45deg) translate(0px, 10px);
          transform: rotate(-45deg) translate(0px, 10px);
}

nav.fixed .toggle.x .bar2 {
  opacity: 0;
}

nav.fixed .toggle.x .bar3 {
  -webkit-transform: rotate(45deg) translate(0px, -10px);
          transform: rotate(45deg) translate(0px, -10px);
}

nav a {
  color: #65CCB8;
  text-decoration: none;
}

nav a.logo {
  font-size: 2.8rem;
  font-weight: 700;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  font-size: 1.0rem;
  margin-right: 1.5rem;
  float: left;
}

nav ul li:last-child {
  margin-right: 0;
}

article {
  margin: 75px 200px 50px 200px;
}

@media (max-width: 1000px) {
  article {
    margin: 75px 50px 50px 50px;
  }
}

@media (max-width: 600px) {
  article {
    margin: 75px 25px 25px 25px;
  }
}

@media (max-width: 600px) {
  nav.fixed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  nav.fixed .top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.fixed .top .toggle {
    display: inline-block;
  }
  nav.fixed ul {
    width: 100%;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    transition: max-height 0.3s;
  }
  nav.fixed ul.show {
    max-height: 250px;
  }
  nav.fixed ul li {
    border-bottom: 1px solid #F2F2F2;
    margin: 0;
    float: none;
  }
  nav.fixed ul li:last-child {
    border: none;
  }
  nav.fixed ul li a {
    display: block;
    padding: 1.2rem 0;
  }
}

body {
  color: #000;
  font-family: sans-serif;
  background-color: #65CCB8;
  margin: 0;
}

body h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

body h2 {
  font-size: 1.5rem;
  text-align: center;
}

body p {
  line-height: 1.5rem;
}
