.button {
  height: 2.5rem;
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #182628;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
}

.card {
  width: 100%;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card img {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .content {
  text-align: center;
  height: 100%;
  margin: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card .content .footer {
  margin-top: auto;
}

nav {
  width: 100%;
  padding: 45px 0 15px 0;
  background-color: #182628;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(1px 3px 4px #182628);
          filter: drop-shadow(1px 3px 4px #182628);
}

nav.fixed {
  padding: 2px 50px;
  position: fixed;
  top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

nav.fixed.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  pointer-events: none;
  opacity: 0;
}

nav a {
  color: #65CCB8;
  text-decoration: none;
}

nav a.logo {
  font-size: 2.8rem;
  font-weight: 700;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  font-size: 1.0rem;
  margin-right: 1.5rem;
}

nav ul li:last-child {
  margin-right: 0;
}

section.cards h1 {
  width: 200px;
  height: 50px;
  margin: 40px auto;
  position: relative;
}

section.cards h1:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
  border-bottom: 3px solid #000;
}

section.cards a:hover {
  color: #65CCB8;
}

section.features .layout .side-a:hover, section.features .side-b:hover {
  -webkit-box-shadow: 0 4px 2px -2px gray;
          box-shadow: 0 4px 2px -2px gray;
}

section.show .background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

section.show .background img {
  width: 100vw;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(0.25rem);
          filter: blur(0.25rem);
}

section.show .layout {
  background-color: #F2F2F2;
}

section.show .layout .strip {
  width: 100%;
  height: 100px;
}

section.show .layout .content {
  padding: 0 50px 25px 50px;
}

section.show .layout .content img {
  width: 25%;
  margin: 0 auto;
  display: block;
  -webkit-transform: translateY(calc(-100% / 3));
          transform: translateY(calc(-100% / 3));
}

section.show .layout .content h2 {
  font-weight: 400;
  text-transform: uppercase;
}

section.show .layout .content .genre {
  color: #F2F2F2;
  padding: 10px;
  background-color: #000;
  border-radius: 1rem;
  margin: 0 auto;
  display: table;
}

section a {
  color: #000;
  text-decoration: none;
}

body {
  color: #000;
  font-family: sans-serif;
  background-color: #65CCB8;
  margin: 0;
}

body h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

body h2 {
  font-size: 1.5rem;
  text-align: center;
}

body p {
  line-height: 1.5rem;
}

section.cards .layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 1000px) {
  section.cards .layout {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  section.cards .layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section.features .layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[2] (1fr)[2];
      grid-template-columns: repeat(2, 25%) repeat(2, 1fr);
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
  grid-gap: 1rem;
      grid-template-areas: "main main side-a side-b";
}

section.features .layout .main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

@media (min-width: 600px) {
  section.features .layout .main {
    color: #F2F2F2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.features .layout .main:hover .content .body {
    text-decoration: underline;
  }
  section.features .layout .main img {
    min-height: 100%;
    max-height: 100%;
    -webkit-filter: brightness(75%);
            filter: brightness(75%);
  }
  section.features .layout .main .content {
    height: auto;
    margin-top: 100px;
    position: absolute;
  }
}

section.features .layout .side-a {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: side-a;
}

section.features .layout .side-b {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: side-b;
}

@media (max-width: 1000px) {
  section.features .layout {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "main main" "side-a side-b";
  }
}

@media (max-width: 600px) {
  section.features .layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "main" "side-a" "side-b";
  }
}

section.show {
  margin: 100px 200px 50px 200px;
}

@media (max-width: 1000px) {
  section.show {
    margin: 100px 50px 50px 50px;
  }
}

@media (max-width: 600px) {
  section.show {
    margin: 100px 25px 25px 25px;
  }
}

section {
  margin: 50px 100px;
}

@media (max-width: 1000px) {
  section {
    margin: 50px;
  }
}

@media (max-width: 600px) {
  section {
    margin: 25px;
  }
}
/*# sourceMappingURL=styles.css.map */