.button {
    height: 2.5rem;
    color: $accent-text-color;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: $accent-background-color;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
}