.card {
    width: 100%;
    background-color: $card-background-color;
    display: flex;
    flex-flow: column nowrap;

    img {
        width: 100%;
        min-height: 200px;
        max-height: 200px;
        object-fit: cover;
    }

    .content {
        height: 100%;
        margin: 0 1rem;
        display: flex;
        flex-flow: column nowrap;

        p {
            line-height: 1.5rem;
        }
        .footer {
            margin-top: auto;
        }
    }
}