nav {
    margin: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #000;
        text-decoration: none;

        &.logo {
            font-size: 2.5rem;
            font-weight: 700;
        }
    }
    ul {
        list-style-type: none;
        display: flex;

        li {
            font-size: 1.5rem;
            margin-right: 1.25rem;
            float: left;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}