section {
    &.jumbotron {
        h1 {
            font-size: 7rem;
            margin: 3rem 0;
        }
        h2 {
            font-size: 3rem;
        }
    }
    &.featured, &.cards {
        h1 {
            font-size: 5rem;
        }
    }
    &.show {
        h1 {
            font-family: serif;
            font-size: 5rem;
            text-align: center;
        }
        img {
            margin: 0 auto;
            display: block;
        }
        p {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }
}