section {
    h1 {
        font-size: 5rem;
    }

    &.jumbotron {
        h1 {
            font-size: 7rem;
            margin: 3rem 0;
        }
        h2 {
            font-size: 3rem;
        }
    }
    &.features .layout a {
        color: $text-color;
        text-decoration: none;
        display: flex;

        h2 {
            font-size: 2rem;
            margin: auto 0 25px 25px;
        }
    }
    &.show {
        h1 {
            font-family: serif;
            text-align: center;
        }
        img {
            margin: 0 auto;
            display: block;
        }
        p {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }
}