section {
    text-align: center;

    h2 {
        font-size: 2rem;
    }
    a {
        color: $text-color;
        text-decoration: none;
    }

    &.features .layout .side-a, .side-b {
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid #182628;
            box-shadow: 0 4px 2px -2px gray;
        }
    }
    &.cards {
        h1 {
            text-transform: uppercase;
            width: 200px;
            height: 40px;
            margin: 40px auto;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 25%;
                bottom: 0;
                width: 50%;
                border-bottom: 3px solid $text-color;
            }
        }
        .layout .card .content .body a:hover {
            color: $accent-text-color;
        }
    }
    &.show {
        img {
            margin: 0 auto;
            display: block;
        }
        p {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }
}