section.features .layout {        
    display: grid;
    grid-template-columns: repeat(2, 25%) repeat(2, 1fr);
    grid-gap: 1rem;
    grid-template-areas: "main main side-a side-b";
    
    .main {
        grid-area: main;

        @media not all and (max-width: 600px) {
            color: $card-background-color;
            justify-content: center;
            align-items: center;

            &:hover .content header {
                text-decoration: underline;
            }

            img {
                min-height: 0;
                max-height: 500px;
                filter: brightness(75%);
            }
            .content {
                height: auto;
                margin-top: 100px;
                position: absolute;
            }
        }
    }
    .side-a {
        grid-area: side-a;
    }
    .side-b {
        grid-area: side-b;
    }

    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "main main"
            "side-a side-b";
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "main"
            "side-a"
            "side-b";
    }
}