@import "article";
@import "cards";
@import "features";

section {
    margin: 50px 100px;

    @media (max-width: 1000px) {
        margin: 50px;
    }
    @media (max-width: 600px) {
        margin: 25px;
    }
}